<html>
    <head>
        <title>Public Page</title>
    </head>

    <body>
        <h4>
			Keycloak username: <span th:text="${username}"> --name-- </span>
        </h4>

        <h4>
			Keycloak name: <span th:text="${name}"> --name-- </span>
        </h4>

        <h4>
			Keycloak email: <span th:text="${email}"> --name-- </span>
        </h4>

        <h4>
			Keycloak first name: <span th:text="${firstname}"> --name-- </span>
        </h4>

        <h4>
			Keycloak lastname: <span th:text="${lastname}"> --name-- </span>
        </h4>
        

    </body>

</html>